n8n-workflow-audit-ia.json
{
  "name": "Audit IA - Alpha No-Code",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "audit-ia",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://alpha-nc.github.io"
        }
      },
      "id": "webhook-node",
      "name": "Webhook - Audit IA",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "audit-ia-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "token-check",
              "leftValue": "={{ $json.query.token }}",
              "rightValue": "<TOKEN>",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-token",
      "name": "Validate Token",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, error: \"Token invalide ou manquant\" }) }}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://alpha-nc.github.io"
              }
            ]
          }
        }
      },
      "id": "respond-invalid-token",
      "name": "Respond - Invalid Token",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [690, 450]
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// AUDIT IA - NORMALISATION ET SCORING DETERMINISTE\n// =============================================\n\nconst body = $input.first().json.body || {};\nconst meta = body.meta || {};\nconst answers = body.answers || {};\n\n// Generate unique submission ID\nconst submissionId = 'AUD-' + Date.now().toString(36).toUpperCase() + '-' + Math.random().toString(36).substring(2, 6).toUpperCase();\n\n// Extract tracking data\nconst tracking = meta.tracking || {};\nconst params = tracking.params || {};\n\nconst submittedAt = meta.submittedAt || new Date().toISOString();\n\n// =============================================\n// CONSTANTES DE SCORING\n// =============================================\n\nconst MINUTES_PER_ITEM = {\n  devis: 12,\n  factures: 8,\n  relances: 5,\n  leads: 10,\n  support: 7,\n  reporting: 30,\n  autre: 10\n};\n\nconst AUTOMATION_BASE_PCT = {\n  devis: 50,\n  factures: 70,\n  relances: 80,\n  leads: 65,\n  support: 55,\n  reporting: 60,\n  autre: 50\n};\n\nconst HOURLY_COST_BY_SECTOR = {\n  'Artisan / BTP': 40,\n  'Agence marketing': 55,\n  'Intérim / RH': 50,\n  'Cabinet HSE / QHSE': 60,\n  'Commerce / e-commerce': 45,\n  'Services B2B': 55,\n  'Autre': 50\n};\n\nconst BUDGET_MIDPOINT = {\n  '0–300': 200,\n  '300–900': 600,\n  '900–2500': 1500,\n  '2500+': 3000\n};\n\nconst SETUP_MULTIPLIER = {\n  devis: 2.5,\n  factures: 2.5,\n  relances: 2.0,\n  leads: 3.0,\n  support: 3.0,\n  reporting: 3.0,\n  autre: 2.5\n};\n\nconst PRIORITIES_BY_PROCESS = {\n  devis: ['Standardiser les demandes', 'Générer les devis automatiquement', 'Relancer les devis en attente'],\n  factures: ['Automatiser l\\'émission', 'Relances de paiement', 'Dashboard encaissements'],\n  relances: ['Séquence multi-canal', 'Scoring des retards', 'Tableau de bord relances'],\n  leads: ['Centraliser les demandes', 'Qualification automatique', 'Relance + prise de RDV'],\n  support: ['Triage des demandes', 'Base de réponses', 'Routage + SLA'],\n  reporting: ['Collecte KPI auto', 'Templates de report', 'Envoi programmé'],\n  autre: ['Centraliser', 'Automatiser étapes répétitives', 'Reporting minimal']\n};\n\nconst QUICK_WINS = [\n  'Centraliser la donnée (un seul point d\\'entrée)',\n  'Automatiser une étape simple (création / notification / relance)',\n  'Mettre un mini-dashboard (statut, volume, retards)'\n];\n\nconst PLAN_30_DAYS = [\n  'Cartographier le process + points de friction',\n  'Mettre en place le flux \"cœur\" (MVP)',\n  'Ajouter relances + notifications + règles d\\'exception',\n  'Mesurer (temps gagné, erreurs, taux) + itérer'\n];\n\n// =============================================\n// FONCTIONS UTILITAIRES\n// =============================================\n\nfunction clamp(value, min, max) {\n  return Math.max(min, Math.min(max, value));\n}\n\nfunction roundTo(value, decimals) {\n  const factor = Math.pow(10, decimals);\n  return Math.round(value * factor) / factor;\n}\n\nfunction escapeHtml(text) {\n  if (!text) return '';\n  return String(text)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#039;');\n}\n\n// =============================================\n// EXTRACTION DES DONNEES\n// =============================================\n\nconst businessSector = answers.business_sector || 'Autre';\nconst businessSectorOther = answers.business_sector_other || '';\nconst clientType = answers.client_type || '';\nconst q1People = parseInt(answers.q1_people) || 1;\nconst biggestChallenge = answers.biggestChallenge || '';\nconst painScore = clamp(parseInt(answers.pain_score) || 5, 1, 10);\nconst processType = answers.process_type || 'autre';\nconst processVolume = parseInt(answers.process_volume) || 1;\nconst processVolumeUnit = answers.process_volume_unit || '/mois';\nconst errorImpact = Array.isArray(answers.error_impact) ? answers.error_impact : [];\nconst urgency = answers.urgency || 'pas pressé';\nconst decisionPower = answers.decision_power || 'je dois convaincre';\nconst budgetRange = answers.budget_range || '0–300';\nconst goalType = answers.goal_type || 'autre';\nconst goalValue = parseInt(answers.goal_value) || 0;\nconst goalText = answers.goal_text || '';\nconst companyName = answers.company_name || '';\nconst contactFirstname = answers.contact_firstname || '';\nconst contactLastname = answers.contact_lastname || '';\nconst contactEmail = answers.contact_email || '';\nconst contactPhone = answers.contact_phone || '';\nconst preferredChannel = answers.preferred_channel || '';\nconst preferredTime = answers.preferred_time || '';\nconst consentRgpd = answers.consent_rgpd || false;\n\n// =============================================\n// CALCULS DE SCORING\n// =============================================\n\n// Volume par semaine\nconst volumeWeek = processVolumeUnit === '/mois' \n  ? roundTo(processVolume / 4.33, 1) \n  : processVolume;\n\n// Minutes par item\nconst minutesItem = MINUTES_PER_ITEM[processType] || 10;\n\n// Impact count\nconst impactCount = errorImpact.length;\n\n// Inefficiency (clamp 0.25-0.75)\nlet inefficiency = 0.25 + (painScore * 0.03) + (impactCount * 0.03);\ninefficiency = clamp(inefficiency, 0.25, 0.75);\n\n// Time waste hours per week (clamp 0.2-40)\nlet timeWasteHWeek = roundTo((volumeWeek * minutesItem * inefficiency) / 60, 1);\ntimeWasteHWeek = clamp(timeWasteHWeek, 0.2, 40);\n\n// Hourly cost by sector\nconst hourlyCost = HOURLY_COST_BY_SECTOR[businessSector] || 50;\n\n// Annual and monthly savings\nconst annualSavings = Math.round(timeWasteHWeek * hourlyCost * 48);\nconst monthlySavings = Math.round(annualSavings / 12);\n\n// Automation base percentage\nconst autoBase = AUTOMATION_BASE_PCT[processType] || 50;\n\n// Impact adjustment\nlet impactAdj = 0;\nif (errorImpact.includes('retards')) impactAdj += 5;\nif (errorImpact.includes('argent')) impactAdj += 5;\nif (errorImpact.includes('temps')) impactAdj += 3;\nif (errorImpact.includes('image')) impactAdj += 2;\n\n// Automation percentage (clamp 30-90, cap 75 if budget 0-300)\nlet automationPercentage = autoBase + ((painScore - 5) * 3) + impactAdj;\nautomationPercentage = clamp(automationPercentage, 30, 90);\nif (budgetRange === '0–300') {\n  automationPercentage = Math.min(automationPercentage, 75);\n}\n\n// Budget midpoint\nconst monthlyBudget = BUDGET_MIDPOINT[budgetRange] || 200;\n\n// Setup multiplier\nconst multiplier = SETUP_MULTIPLIER[processType] || 2.5;\n\n// Setup cost\nconst setupCost = Math.round(monthlyBudget * multiplier);\n\n// Initial cost\nconst initialCost = setupCost + monthlyBudget;\n\n// Payback months (clamp 1-24)\nlet paybackMonths;\nif (monthlySavings <= 0) {\n  paybackMonths = 24;\n} else {\n  paybackMonths = Math.ceil(initialCost / monthlySavings);\n  paybackMonths = clamp(paybackMonths, 1, 24);\n}\n\n// ROI estimated (clamp -80 to 500)\nconst totalCost = setupCost + (monthlyBudget * 12);\nlet roiEstimated = Math.round(((annualSavings - totalCost) / Math.max(totalCost, 1)) * 100);\nroiEstimated = clamp(roiEstimated, -80, 500);\n\n// =============================================\n// MATURITY SCORE CALCULATION\n// =============================================\n\n// Pain sub-score (0-20)\nconst painSubScore = painScore * 2;\n\n// Volume sub-score (0-20)\nconst volumeMonth = processVolumeUnit === '/mois' ? processVolume : processVolume * 4.33;\nlet volumeSubScore;\nif (volumeMonth < 20) volumeSubScore = 5;\nelse if (volumeMonth < 50) volumeSubScore = 10;\nelse if (volumeMonth < 150) volumeSubScore = 15;\nelse volumeSubScore = 20;\n\n// Impact sub-score (0-15)\nconst impactSubScore = Math.min(impactCount * 5, 15);\n\n// Urgency sub-score (0-15)\nlet urgencySubScore;\nif (urgency === '1–2 semaines') urgencySubScore = 15;\nelse if (urgency === '1 mois') urgencySubScore = 10;\nelse if (urgency === '3 mois') urgencySubScore = 5;\nelse urgencySubScore = 0;\n\n// Decision sub-score (0-10)\nlet decisionSubScore;\nif (decisionPower === 'je décide') decisionSubScore = 10;\nelse if (decisionPower === 'décision partagée') decisionSubScore = 5;\nelse decisionSubScore = 0;\n\n// Budget sub-score (0-10)\nlet budgetSubScore;\nif (budgetRange === '0–300') budgetSubScore = 2;\nelse if (budgetRange === '300–900') budgetSubScore = 6;\nelse if (budgetRange === '900–2500') budgetSubScore = 8;\nelse budgetSubScore = 10;\n\n// Goal sub-score (0-10)\nlet goalSubScore;\nif (goalType !== 'autre' && goalValue > 0) {\n  goalSubScore = 10;\n} else if (goalType === 'autre' && goalText.length >= 15) {\n  goalSubScore = 7;\n} else {\n  goalSubScore = 0;\n}\n\n// Readiness score (sum of all sub-scores)\nconst readinessScore = painSubScore + volumeSubScore + impactSubScore + \n                       urgencySubScore + decisionSubScore + budgetSubScore + goalSubScore;\n\n// Maturity score (0-10)\nconst maturityScore = Math.round(readinessScore / 10);\n\n// Maturity label\nlet maturityLabel;\nif (maturityScore <= 3) maturityLabel = 'Novice';\nelse if (maturityScore <= 6) maturityLabel = 'Débutant';\nelse if (maturityScore <= 8) maturityLabel = 'Intermédiaire';\nelse if (maturityScore === 9) maturityLabel = 'Avancé';\nelse maturityLabel = 'Expert';\n\n// =============================================\n// PRIORITY LEVEL CALCULATION\n// =============================================\n\n// Urgency points for priority\nlet urgencyPts;\nif (urgency === '1–2 semaines') urgencyPts = 25;\nelse if (urgency === '1 mois') urgencyPts = 15;\nelse if (urgency === '3 mois') urgencyPts = 5;\nelse urgencyPts = 0;\n\n// Decision points for priority\nlet decisionPts;\nif (decisionPower === 'je décide') decisionPts = 15;\nelse if (decisionPower === 'décision partagée') decisionPts = 8;\nelse decisionPts = 0;\n\n// Volume points for priority\nlet volumePts;\nif (volumeMonth >= 150) volumePts = 15;\nelse if (volumeMonth >= 50) volumePts = 10;\nelse if (volumeMonth >= 20) volumePts = 5;\nelse volumePts = 0;\n\n// Priority score\nconst priorityScore = (painScore * 5) + urgencyPts + decisionPts + volumePts;\n\n// Priority level\nlet priorityLevel;\nif (priorityScore >= 70) priorityLevel = 'P1';\nelse if (priorityScore >= 40) priorityLevel = 'P2';\nelse priorityLevel = 'P3';\n\n// =============================================\n// LABELS\n// =============================================\n\n// Automation label\nlet automationLabel;\nif (automationPercentage < 45) automationLabel = 'Faible';\nelse if (automationPercentage < 60) automationLabel = 'Moyen';\nelse if (automationPercentage < 75) automationLabel = 'Élevé';\nelse automationLabel = 'Très élevé';\n\n// ROI badge class\nlet roiBadgeClass;\nif (roiEstimated < 0) roiBadgeClass = 'anc-badge--danger';\nelse if (roiEstimated < 50) roiBadgeClass = 'anc-badge--warn';\nelse roiBadgeClass = 'anc-badge--ok';\n\n// ROI message\nconst roiMessage = roiEstimated < 0 \n  ? 'ROI estimatif négatif — enjeu d\\'abord organisationnel (process, données, discipline).'\n  : 'Estimation prudente — à valider sur votre process réel.';\n\n// Payback display\nconst paybackDisplay = paybackMonths >= 24 \n  ? '24+ mois (estimation prudente)' \n  : `${paybackMonths} mois`;\n\n// UTM source display\nconst utmSourceDisplay = params.utm_source || 'Direct';\n\n// =============================================\n// CONTENT LISTS\n// =============================================\n\nconst priorities = PRIORITIES_BY_PROCESS[processType] || PRIORITIES_BY_PROCESS.autre;\n\n// Generate HTML lists\nconst prioritiesLi = priorities.map(p => `<li>${escapeHtml(p)}</li>`).join('');\nconst quickwinsLi = QUICK_WINS.map(q => `<li>${escapeHtml(q)}</li>`).join('');\nconst plan30Li = PLAN_30_DAYS.map(p => `<li>${escapeHtml(p)}</li>`).join('');\n\n// =============================================\n// GENERATE ANALYSIS HTML\n// =============================================\n\nconst CALENDLY_URL = 'https://calendly.com/agence-alphanc/audit-decouverte';\nconst SITE_URL = 'https://alpha-nc.github.io/';\n\nconst analysisHtml = `<style>\n  .anc-report{font-family:Arial,Helvetica,sans-serif;background:#0B1E33;color:#E6ECF2;border-radius:16px;overflow:hidden;border:1px solid rgba(230,236,242,.12)}\n  .anc-wrap{padding:20px}\n  .anc-head{display:flex;justify-content:space-between;gap:12px;align-items:flex-start;padding:18px 20px;background:linear-gradient(135deg,#102864 0%,#1D2B64 55%,rgba(0,229,168,.18) 100%)}\n  .anc-title{margin:0;font-size:18px;letter-spacing:.2px}\n  .anc-sub{margin:6px 0 0 0;font-size:12px;color:rgba(230,236,242,.85)}\n  .anc-badges{display:flex;gap:8px;flex-wrap:wrap;justify-content:flex-end}\n  .anc-badge{font-size:11px;padding:6px 10px;border-radius:999px;border:1px solid rgba(230,236,242,.18);background:rgba(11,30,51,.35)}\n  .anc-badge--ok{border-color:rgba(0,229,168,.55);background:rgba(0,229,168,.12)}\n  .anc-badge--warn{border-color:rgba(255,193,7,.55);background:rgba(255,193,7,.12)}\n  .anc-badge--danger{border-color:rgba(255,77,79,.55);background:rgba(255,77,79,.12)}\n  .anc-grid{display:grid;grid-template-columns:repeat(4,minmax(0,1fr));gap:12px;margin-top:14px}\n  .anc-card{border-radius:14px;background:rgba(230,236,242,.06);border:1px solid rgba(230,236,242,.12);padding:12px}\n  .anc-label{font-size:11px;color:rgba(230,236,242,.72);margin:0 0 6px 0}\n  .anc-value{font-size:20px;margin:0;font-weight:700}\n  .anc-note{font-size:11px;margin:6px 0 0 0;color:rgba(230,236,242,.78)}\n  .anc-section{margin-top:16px;padding-top:14px;border-top:2px solid #00E5A8}\n  .anc-h3{margin:0 0 10px 0;font-size:14px}\n  .anc-list{margin:0;padding-left:18px}\n  .anc-list li{margin:6px 0}\n  .anc-ol{margin:0;padding-left:18px}\n  .anc-ol li{margin:8px 0}\n  .anc-cta{margin-top:18px;display:flex;gap:10px;flex-wrap:wrap}\n  .anc-btn{display:inline-block;text-decoration:none;font-weight:700;border-radius:12px;padding:10px 14px;font-size:13px}\n  .anc-btn--primary{background:#00E5A8;color:#0B1E33}\n  .anc-btn--ghost{border:1px solid rgba(230,236,242,.22);color:#E6ECF2;background:rgba(11,30,51,.35)}\n  .anc-foot{margin-top:14px;font-size:11px;color:rgba(230,236,242,.72)}\n  @media(max-width:720px){.anc-grid{grid-template-columns:repeat(2,minmax(0,1fr))}}\n</style>\n\n<section class=\"anc-report\" role=\"region\" aria-label=\"Analyse express Alpha No-Code\">\n  <header class=\"anc-head\">\n    <div>\n      <h2 class=\"anc-title\">Analyse express — ${escapeHtml(companyName)}</h2>\n      <p class=\"anc-sub\">\n        Submission ID : <strong>${escapeHtml(submissionId)}</strong> · ${escapeHtml(submittedAt)} · Source : ${escapeHtml(utmSourceDisplay)}\n      </p>\n    </div>\n\n    <div class=\"anc-badges\">\n      <span class=\"anc-badge anc-badge--ok\">Priorité : ${escapeHtml(priorityLevel)}</span>\n      <span class=\"anc-badge\">${escapeHtml(maturityLabel)} (${maturityScore}/10)</span>\n      <span class=\"anc-badge ${roiBadgeClass}\">ROI estimatif : ${roiEstimated}%</span>\n      <span class=\"anc-badge\">Payback : ${escapeHtml(paybackDisplay)}</span>\n    </div>\n  </header>\n\n  <div class=\"anc-wrap\">\n    <div class=\"anc-grid\">\n      <div class=\"anc-card\">\n        <p class=\"anc-label\">Potentiel d'automatisation</p>\n        <p class=\"anc-value\">${automationPercentage}%</p>\n        <p class=\"anc-note\">${escapeHtml(automationLabel)}</p>\n      </div>\n\n      <div class=\"anc-card\">\n        <p class=\"anc-label\">Temps récupérable</p>\n        <p class=\"anc-value\">${timeWasteHWeek} h/sem</p>\n        <p class=\"anc-note\">Estimation prudente</p>\n      </div>\n\n      <div class=\"anc-card\">\n        <p class=\"anc-label\">Économies estimées</p>\n        <p class=\"anc-value\">${monthlySavings} €/mois</p>\n        <p class=\"anc-note\">${annualSavings} €/an</p>\n      </div>\n\n      <div class=\"anc-card\">\n        <p class=\"anc-label\">Niveau d'urgence</p>\n        <p class=\"anc-value\">${escapeHtml(urgency)}</p>\n        <p class=\"anc-note\">Décision : ${escapeHtml(decisionPower)}</p>\n      </div>\n    </div>\n\n    <section class=\"anc-section\">\n      <h3 class=\"anc-h3\">Top 3 priorités</h3>\n      <ul class=\"anc-list\">\n        ${prioritiesLi}\n      </ul>\n    </section>\n\n    <section class=\"anc-section\">\n      <h3 class=\"anc-h3\">Quick wins (7 jours)</h3>\n      <ul class=\"anc-list\">\n        ${quickwinsLi}\n      </ul>\n    </section>\n\n    <section class=\"anc-section\">\n      <h3 class=\"anc-h3\">Plan 30 jours</h3>\n      <ol class=\"anc-ol\">\n        ${plan30Li}\n      </ol>\n    </section>\n\n    <section class=\"anc-section\">\n      <h3 class=\"anc-h3\">Remarque</h3>\n      <ul class=\"anc-list\">\n        <li>Cette analyse est une <strong>estimation</strong> basée sur vos réponses (pas une promesse).</li>\n        <li>${escapeHtml(roiMessage)}</li>\n      </ul>\n    </section>\n\n    <div class=\"anc-cta\">\n      <a class=\"anc-btn anc-btn--primary\" href=\"${CALENDLY_URL}\" target=\"_blank\" rel=\"noopener\">Réserver un appel de 15 min</a>\n      <a class=\"anc-btn anc-btn--ghost\" href=\"${SITE_URL}\" target=\"_blank\" rel=\"noopener\">Découvrir Alpha No-Code</a>\n    </div>\n\n    <div class=\"anc-foot\">\n      Données : Secteur ${escapeHtml(businessSector)} · Process ${escapeHtml(processType)} · Volume ${processVolume} ${escapeHtml(processVolumeUnit)} · Douleur ${painScore}/10 · Budget ${escapeHtml(budgetRange)}\n    </div>\n  </div>\n</section>`;\n\n// =============================================\n// ANALYSIS SUMMARY FOR NOTION\n// =============================================\n\nconst analysisSummary = `Priorité: ${priorityLevel} | Maturité: ${maturityLabel} (${maturityScore}/10) | ROI: ${roiEstimated}% | Payback: ${paybackDisplay} | Automatisation: ${automationPercentage}% (${automationLabel}) | Temps récupérable: ${timeWasteHWeek}h/sem | Économies: ${monthlySavings}€/mois (${annualSavings}€/an)`;\n\n// =============================================\n// OUTPUT\n// =============================================\n\nreturn {\n  json: {\n    submissionId,\n    submittedAt,\n    tracking: {\n      sessionId: tracking.sessionId || '',\n      utm_source: params.utm_source || '',\n      utm_medium: params.utm_medium || '',\n      utm_campaign: params.utm_campaign || '',\n      utm_term: params.utm_term || '',\n      utm_content: params.utm_content || '',\n      ref: params.ref || '',\n      variant: params.variant || ''\n    },\n    answers: {\n      business_sector: businessSector,\n      business_sector_other: businessSectorOther,\n      client_type: clientType,\n      q1_people: q1People,\n      biggestChallenge,\n      pain_score: painScore,\n      process_type: processType,\n      process_volume: processVolume,\n      process_volume_unit: processVolumeUnit,\n      error_impact: errorImpact,\n      urgency,\n      decision_power: decisionPower,\n      budget_range: budgetRange,\n      goal_type: goalType,\n      goal_value: goalValue,\n      goal_text: goalText,\n      company_name: companyName,\n      contact_firstname: contactFirstname,\n      contact_lastname: contactLastname,\n      contact_email: contactEmail,\n      contact_phone: contactPhone,\n      preferred_channel: preferredChannel,\n      preferred_time: preferredTime,\n      consent_rgpd: consentRgpd\n    },\n    analysis: {\n      maturity_score: maturityScore,\n      maturity_label: maturityLabel,\n      priority_level: priorityLevel,\n      priority_score: priorityScore,\n      automation_percentage: automationPercentage,\n      automation_label: automationLabel,\n      time_waste_h_week: timeWasteHWeek,\n      monthly_savings: monthlySavings,\n      annual_savings: annualSavings,\n      payback_months: paybackMonths,\n      payback_display: paybackDisplay,\n      roi_estimated: roiEstimated,\n      roi_badge_class: roiBadgeClass,\n      roi_message: roiMessage,\n      setup_cost: setupCost,\n      initial_cost: initialCost,\n      monthly_budget: monthlyBudget,\n      sub_scores: {\n        pain: painSubScore,\n        volume: volumeSubScore,\n        impact: impactSubScore,\n        urgency: urgencySubScore,\n        decision: decisionSubScore,\n        budget: budgetSubScore,\n        goal: goalSubScore,\n        readiness: readinessScore\n      }\n    },\n    analysis_html: analysisHtml,\n    analysis_summary: analysisSummary\n  }\n};"
      },
      "id": "code-scoring",
      "name": "Normalize & Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 180]
    },
    {
      "parameters": {
        "resource": "page",
        "databaseId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "Audit-IA"
        },
        "title": "={{ $json.answers.company_name || $json.answers.contact_firstname || $json.answers.contact_email || 'Lead Audit IA' }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Date de soumission|date",
              "dateValue": "={{ $json.submittedAt }}"
            },
            {
              "key": "SubmissionId|rich_text",
              "textContent": "={{ $json.submissionId }}"
            },
            {
              "key": "Entreprise|rich_text",
              "textContent": "={{ $json.answers.company_name }}"
            },
            {
              "key": "Prénom|rich_text",
              "textContent": "={{ $json.answers.contact_firstname }}"
            },
            {
              "key": "Nom|rich_text",
              "textContent": "={{ $json.answers.contact_lastname }}"
            },
            {
              "key": "Email|email",
              "textContent": "={{ $json.answers.contact_email }}"
            },
            {
              "key": "Téléphone|phone_number",
              "phoneValue": "={{ $json.answers.contact_phone }}"
            },
            {
              "key": "Secteur|select",
              "selectValue": "={{ $json.answers.business_sector }}"
            },
            {
              "key": "Type clients|select",
              "selectValue": "={{ $json.answers.client_type }}"
            },
            {
              "key": "Effectif|number",
              "numberValue": "={{ $json.answers.q1_people }}"
            },
            {
              "key": "Douleur principale|rich_text",
              "textContent": "={{ $json.answers.biggestChallenge }}"
            },
            {
              "key": "Score douleur|number",
              "numberValue": "={{ $json.answers.pain_score }}"
            },
            {
              "key": "Process ciblé|select",
              "selectValue": "={{ $json.answers.process_type }}"
            },
            {
              "key": "Volume|number",
              "numberValue": "={{ $json.answers.process_volume }}"
            },
            {
              "key": "Unité volume|select",
              "selectValue": "={{ $json.answers.process_volume_unit }}"
            },
            {
              "key": "Impact erreurs|rich_text",
              "textContent": "={{ $json.answers.error_impact.join(', ') }}"
            },
            {
              "key": "Urgence|select",
              "selectValue": "={{ $json.answers.urgency }}"
            },
            {
              "key": "Décision|select",
              "selectValue": "={{ $json.answers.decision_power }}"
            },
            {
              "key": "Budget|select",
              "selectValue": "={{ $json.answers.budget_range }}"
            },
            {
              "key": "Objectif type|select",
              "selectValue": "={{ $json.answers.goal_type }}"
            },
            {
              "key": "Objectif valeur|number",
              "numberValue": "={{ $json.answers.goal_value }}"
            },
            {
              "key": "Objectif texte|rich_text",
              "textContent": "={{ $json.answers.goal_text }}"
            },
            {
              "key": "Canal préféré|select",
              "selectValue": "={{ $json.answers.preferred_channel }}"
            },
            {
              "key": "Créneau|select",
              "selectValue": "={{ $json.answers.preferred_time }}"
            },
            {
              "key": "UTM Source|rich_text",
              "textContent": "={{ $json.tracking.utm_source }}"
            },
            {
              "key": "UTM Medium|rich_text",
              "textContent": "={{ $json.tracking.utm_medium }}"
            },
            {
              "key": "UTM Campaign|rich_text",
              "textContent": "={{ $json.tracking.utm_campaign }}"
            },
            {
              "key": "UTM Term|rich_text",
              "textContent": "={{ $json.tracking.utm_term }}"
            },
            {
              "key": "UTM Content|rich_text",
              "textContent": "={{ $json.tracking.utm_content }}"
            },
            {
              "key": "Ref|rich_text",
              "textContent": "={{ $json.tracking.ref }}"
            },
            {
              "key": "Variant|rich_text",
              "textContent": "={{ $json.tracking.variant }}"
            },
            {
              "key": "ID Session|rich_text",
              "textContent": "={{ $json.tracking.sessionId }}"
            },
            {
              "key": "Résumé analyse|rich_text",
              "textContent": "={{ $json.analysis_summary }}"
            },
            {
              "key": "Priorité|select",
              "selectValue": "={{ $json.analysis.priority_level }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notion-create-page",
      "name": "Notion - Create Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [910, 180],
      "credentials": {
        "notionApi": {
          "id": "",
          "name": "Notion API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "agence.alphanc@gmail.com",
        "subject": "=Audit IA — {{ $('Normalize & Score').item.json.answers.company_name }} — {{ $('Normalize & Score').item.json.analysis.priority_level }} — {{ $('Normalize & Score').item.json.submissionId }}",
        "message": "={{ $('Normalize & Score').item.json.analysis_html }}\n\n<hr style=\"margin: 30px 0; border: none; border-top: 1px solid #ddd;\">\n\n<h2 style=\"font-family: Arial, sans-serif; color: #333;\">Détail des réponses</h2>\n\n<table style=\"width: 100%; border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px;\">\n  <tr style=\"background: #f5f5f5;\">\n    <td style=\"padding: 10px; border: 1px solid #ddd; font-weight: bold;\">Submission ID</td>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $('Normalize & Score').item.json.submissionId }}</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 10px; border: 1px solid #ddd; font-weight: bold;\">Date soumission</td>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $('Normalize & Score').item.json.submittedAt }}</td>\n  </tr>\n  <tr style=\"background: #f5f5f5;\">\n    <td style=\"padding: 10px; border: 1px solid #ddd; font-weight: bold;\">Entreprise</td>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $('Normalize & Score').item.json.answers.company_name }}</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 10px; border: 1px solid #ddd; font-weight: bold;\">Prénom</td>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $('Normalize & Score').item.json.answers.contact_firstname }}</td>\n  </tr>\n  <tr style=\"background: #f5f5f5;\">\n    <td style=\"padding: 10px; border: 1px solid #ddd; font-weight: bold;\">Nom</td>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $('Normalize & Score').item.json.answers.contact_lastname }}</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 10px; border: 1px solid #ddd; font-weight: bold;\">Email</td>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $('Normalize & Score').item.json.answers.contact_email }}</td>\n  </tr>\n  <tr style=\"background: #f5f5f5;\">\n    <td style=\"padding: 10px; border: 1px solid #ddd; font-weight: bold;\">Téléphone</td>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $('Normalize & Score').item.json.answers.contact_phone || 'Non renseigné' }}</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 10px; border: 1px solid #ddd; font-weight: bold;\">Secteur</td>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $('Normalize & Score').item.json.answers.business_sector }}{{ $('Normalize & Score').item.json.answers.business_sector_other ? ' (' + $('Normalize & Score').item.json.answers.business_sector_other + ')' : '' }}</td>\n  </tr>\n  <tr style=\"background: #f5f5f5;\">\n    <td style=\"padding: 10px; border: 1px solid #ddd; font-weight: bold;\">Type clients</td>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $('Normalize & Score').item.json.answers.client_type }}</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 10px; border: 1px solid #ddd; font-weight: bold;\">Effectif</td>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $('Normalize & Score').item.json.answers.q1_people }}</td>\n  </tr>\n  <tr style=\"background: #f5f5f5;\">\n    <td style=\"padding: 10px; border: 1px solid #ddd; font-weight: bold;\">Douleur principale</td>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $('Normalize & Score').item.json.answers.biggestChallenge }}</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 10px; border: 1px solid #ddd; font-weight: bold;\">Score douleur</td>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $('Normalize & Score').item.json.answers.pain_score }}/10</td>\n  </tr>\n  <tr style=\"background: #f5f5f5;\">\n    <td style=\"padding: 10px; border: 1px solid #ddd; font-weight: bold;\">Process ciblé</td>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $('Normalize & Score').item.json.answers.process_type }}</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 10px; border: 1px solid #ddd; font-weight: bold;\">Volume</td>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $('Normalize & Score').item.json.answers.process_volume }} {{ $('Normalize & Score').item.json.answers.process_volume_unit }}</td>\n  </tr>\n  <tr style=\"background: #f5f5f5;\">\n    <td style=\"padding: 10px; border: 1px solid #ddd; font-weight: bold;\">Impact erreurs</td>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $('Normalize & Score').item.json.answers.error_impact.join(', ') }}</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 10px; border: 1px solid #ddd; font-weight: bold;\">Urgence</td>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $('Normalize & Score').item.json.answers.urgency }}</td>\n  </tr>\n  <tr style=\"background: #f5f5f5;\">\n    <td style=\"padding: 10px; border: 1px solid #ddd; font-weight: bold;\">Décision</td>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $('Normalize & Score').item.json.answers.decision_power }}</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 10px; border: 1px solid #ddd; font-weight: bold;\">Budget</td>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $('Normalize & Score').item.json.answers.budget_range }} €/mois</td>\n  </tr>\n  <tr style=\"background: #f5f5f5;\">\n    <td style=\"padding: 10px; border: 1px solid #ddd; font-weight: bold;\">Objectif</td>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $('Normalize & Score').item.json.answers.goal_type }}{{ $('Normalize & Score').item.json.answers.goal_value ? ' : ' + $('Normalize & Score').item.json.answers.goal_value : '' }}{{ $('Normalize & Score').item.json.answers.goal_text ? ' : ' + $('Normalize & Score').item.json.answers.goal_text : '' }}</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 10px; border: 1px solid #ddd; font-weight: bold;\">Canal préféré</td>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $('Normalize & Score').item.json.answers.preferred_channel }}</td>\n  </tr>\n  <tr style=\"background: #f5f5f5;\">\n    <td style=\"padding: 10px; border: 1px solid #ddd; font-weight: bold;\">Créneau préféré</td>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $('Normalize & Score').item.json.answers.preferred_time }}</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 10px; border: 1px solid #ddd; font-weight: bold;\">Session ID</td>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $('Normalize & Score').item.json.tracking.sessionId }}</td>\n  </tr>\n  <tr style=\"background: #f5f5f5;\">\n    <td style=\"padding: 10px; border: 1px solid #ddd; font-weight: bold;\">UTM Source</td>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $('Normalize & Score').item.json.tracking.utm_source || 'Direct' }}</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 10px; border: 1px solid #ddd; font-weight: bold;\">UTM Medium</td>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $('Normalize & Score').item.json.tracking.utm_medium || '-' }}</td>\n  </tr>\n  <tr style=\"background: #f5f5f5;\">\n    <td style=\"padding: 10px; border: 1px solid #ddd; font-weight: bold;\">UTM Campaign</td>\n    <td style=\"padding: 10px; border: 1px solid #ddd;\">{{ $('Normalize & Score').item.json.tracking.utm_campaign || '-' }}</td>\n  </tr>\n</table>",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1130, 180],
      "credentials": {
        "smtp": {
          "id": "",
          "name": "SMTP"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "notion-check",
              "leftValue": "={{ $('Notion - Create Page').item.json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-notion-success",
      "name": "Check Notion Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1350, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  ok: true,\n  submissionId: $('Normalize & Score').item.json.submissionId,\n  pageId: $('Notion - Create Page').item.json.id,\n  analysis: $('Normalize & Score').item.json.analysis,\n  analysis_html: $('Normalize & Score').item.json.analysis_html\n}) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://alpha-nc.github.io"
              }
            ]
          }
        }
      },
      "id": "respond-success-with-notion",
      "name": "Respond - Success (with Notion)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1570, 60]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  ok: true,\n  submissionId: $('Normalize & Score').item.json.submissionId,\n  pageId: null,\n  analysis: $('Normalize & Score').item.json.analysis,\n  analysis_html: $('Normalize & Score').item.json.analysis_html,\n  warning: \"Notion page creation failed\"\n}) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://alpha-nc.github.io"
              }
            ]
          }
        }
      },
      "id": "respond-success-no-notion",
      "name": "Respond - Success (no Notion)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1570, 300]
    }
  ],
  "connections": {
    "Webhook - Audit IA": {
      "main": [
        [
          {
            "node": "Validate Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Token": {
      "main": [
        [
          {
            "node": "Normalize & Score",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Invalid Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize & Score": {
      "main": [
        [
          {
            "node": "Notion - Create Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion - Create Page": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Check Notion Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Notion Success": {
      "main": [
        [
          {
            "node": "Respond - Success (with Notion)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Success (no Notion)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateId": "audit-ia-alpha-nocode",
    "instanceId": ""
  },
  "tags": [
    {
      "name": "Audit IA",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ]
}
